// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.h-screen{
	height: 100vh;
}

.fc-content{
	font-size: 15px;
	color: white;
}